body
{
    margin:0;
    overflow-y:hidden;
}

pre
{
    font-size:medium;
    font-family:黑体 Verdana
}
#editor {
    font-size: 14px;
    margin: 0;
    height: 900px; /**/
    /*
  position: absolute;
    top: 0;     
    bottom: 0;
    left: 0;
    right: 0;*/
}
#funcpad span
{
    border: 1px solid black;
    font-size:small;
}
#commit 
{
   display:none;
}
textarea
{
    width:800px;
    height:800px;
    border-width:0px;
}