<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <enterpriseLibrary.ConfigurationSource selectedSource="File-based Configuration Source">
    <sources>
      <add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Web.EnterpriseLibrary.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <appSettings>
    <add key="CachedExpenseExpiration" value="00:05:00"/>
    <add key="UseInprocEventTracing" value="true"/>
   </appSettings>
 <dataConfiguration defaultDatabase="Beautiful">
<providerMappings>
            <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SQLite, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" name="System.Data.SQLite"/>
        </providerMappings>
  </dataConfiguration> <!---->
  <connectionStrings>  
    <add name="Beautiful" connectionString="Data Source=localhost;Initial Catalog=Beautiful;Integrated Security=True" providerName="System.Data.SqlClient "/>
   <!-- <add name="Beautiful" connectionString="E:\VSProjects\AngelWolf\Harness\bin\Debug\Beautiful.db;Pooling=true;FailIfMissing=false"
            providerName="System.Data.SQLite" />
  -->

    <!--sql server-->
   <!-- <add name="EverSource" connectionString="Data Source=localhost;Initial Catalog=EverSource;Integrated Security=True"
    providerName="System.Data.SqlClient "/>  

    <add name="LiveBeings" connectionString="Data Source=localhost;Initial Catalog=LiveBeings;Integrated Security=True"
    providerName="System.Data.SqlClient "/>-->
  </connectionStrings>
</configuration>
