<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Beautiful" connectionString="Data Source=localhost;Initial Catalog=Beautiful;Integrated Security=True" providerName="System.Data.SqlClient "/>
    <!-- <add name="Beautiful" connectionString="E:\VSProjects\AngelWolf\Harness\bin\Debug\Beautiful.db;Pooling=true;FailIfMissing=false"
            providerName="System.Data.SQLite" />
  -->

    <!--sql server-->
    <!-- <add name="EverSource" connectionString="Data Source=localhost;Initial Catalog=EverSource;Integrated Security=True"
    providerName="System.Data.SqlClient "/>  

    <add name="LiveBeings" connectionString="Data Source=localhost;Initial Catalog=LiveBeings;Integrated Security=True"
    providerName="System.Data.SqlClient "/>-->
  </connectionStrings>
</configuration>