<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

<link href="../../content/lumia-style/lumia.css" rel="stylesheet" />
   
</head>
<body>

<pre id="editor">
编译器:
    Dynamical token 闭包 for wraper asnic.codex
    导入excel csv
    [Solid.Dot.Geometric.Symbolics?~Media]Solid.Around.Shape.Word
    //Geometric.朝向.Lez:[asdf]ksjflkjsdf[sdf[[sdfsdf],klsfdsdf(asdf)sajdfjlsd
    //标量回文Quota Priority limitation
    anti:flat-geometric letter symbol
    atlair:shape
    fusion:media to muti-feeling as a INDEX(can be compare to EnErgy )
    基础函数：Split Substring Replace IndexOf LastIndexOf Padleft
解释器
    Html Css JQuery
表格:
    Offset x y z from generate svg
    Linq as a SQL
矢量:
    [SVG]Solid.Around.Shape.Word(flat| metric |dimentional)
    起源 圆形表现用svg
    offset 
    调试转换 table to 
    [package-wraper]
    Diamond squarely rotated

单条：窗口。新建。标题：兀形声
    执行。函数名
    执行。行号
    编号 属性 方法 事件
   
函数：Namespace Class Struct Func
    
    基本：循环 判断 算术 递归 举例
    键盘:数字 字母 文字 符号
    编译分析 换行 不换行


优先级
    Metric
    | 分隔符
    []//括号 起始 
        函数 结束
    .//谁的 对象
    ://多个对象回车 解释 变量 Date:89A-12-7ca   
    ~
随便写优先
    【Who】：字母：文字。其他？不是
        数字
        符号 //复杂
    "对话目前下挫一行"
        lz:
        lz:
        ask
            "hello world"
            "good byd"
        bced
            "hao"
        asdf
            "ceshi"
        asdf.drawsword
            "say something"
        
竖列与矩阵：
    [samed]
    [world]
    (oooooo)
    (oooooo)
    (oooooo)
    //什么标签适合两次书写
    >> abc
    >> 123
    >> 汉子阿斯蒂芬
    //Solid.Metric

    [1]<4>(8)(O)<☆>
    |范|德|萨|
    |范|德|萨|
    |范|德|萨|
    |范|德|萨|
        
</pre>
     
    <script src="../../content/ace-editor/ace.js"></script>
    <script src="../../content/ace-editor/ace-settings.js"></script>


</body>
</html>
